/* Pagination */
.pagination {
  margin: 20px 0;
}

.pagination .page-item {
  margin: 0 5px; /* Khoảng cách giữa các mục trang */
}

.pagination .page-link {
  color: #343a40;
  border: 1px solid #dee2e6; /* Thêm đường viền cho các liên kết */
  border-radius: 5px; /* Bo góc cho các liên kết */
  padding: 8px 12px; /* Thêm padding cho các liên kết */
  transition: background-color 0.3s ease-in-out; /* Thêm hiệu ứng chuyển động */
}

.pagination .page-link:hover {
  background-color: #343a40; /* Màu nền khi di chuột */
  color: #fff; /* Màu chữ khi di chuột */
}

.pagination .page-item.active .page-link {
  background-color: #007bff; /* Màu nền cho trang hiện tại */
  color: #fff; /* Màu chữ cho trang hiện tại */
  border-color: #007bff; /* Đường viền cho trang hiện tại */
}
